 /* body{
  background-image:("pictures/detroit-wallpapers-014.jpg");
  position: absolute;
  z-index: -1;
} */

/* Main Page */

.bitd-logo{
  display: flex;
  justify-content: center;
}

.main-top-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.logo-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 25px;
}

#brew-logo{
  /* border: solid black; */
  border-radius: 50%;
  height: 150px;
  width: 150px;
  /* background-color: grey; */
}

.checked-in {
  background: url(pictures/beer-tour-logos/beer.png);
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    
    
    
   
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 75%;
    border: 0;
   
}


.main-checkin{
  border: solid black;
  height: 15vh;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img{
  width: 70%;
}

.material-icons.md-48{
  font-size: 48px;
}

.brew-detroit{
  padding-top: 25px;
}

.detroit-beer{
  margin-top: -11px;
}

.eastern-market{
  margin-top: -5px;
}

.motor-city{
  padding-top: 40px;
}

.skyline{
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* More Info Page */

.info-page-border{
  border: solid black;
  height: 75vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15%;
  padding: 10px;
  justify-content: space-around
}

.info-brew-logo{
  border: solid black;
  border-radius: 100px;
  height: 150px;
  width: 150px;
}

.brew-name{
  padding-left: 200px;
  width: 250px;
  padding-top: 32px;
}

.info-checkin{
  border: solid black;
  height: 15vh;
  margin-top: 35px;
}

.brew-info{
  border: solid black;
}

.more-info-box{
  box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.3);
   background-color: white;
   width: 800px;
   height: 800px;
   margin-left: auto;
   margin-right: auto;
   margin-top;
   auto;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 10px;
   position: fixed;
   top: 20px;
   left: 10px;
   right: 0px;
   z-index: 10;
   max-height: calc(200vh - 210px);
    overflow-y: auto;
}
/* Check try */

.wlcm-enter{
  font-size: 18px;
}

.material-icons.md-18 {
  font-size: 18px;
}

/* About CSS */

.about-brews {
   text-align: center;
   font-size: 30px;
}

.about-D {
   color:orange;
   font-family: monotype;
}

.about-info {
   text-align: center;
   font-size: 20px;

}

.about-button {
   text-align: center;
   display: flex;
   align-items: center;
   padding: 10px 32px;
   border-radius: 20px;
   margin-left: 575px;
   font-size: 20px;
   background-color: lightgrey;
   color: orange;
   border: 3px solid black;

}

a:visited {
   color: orange;
   background-color: transparent;
   text-decoration: none;
}

a:link {
   color: orange;
   background-color: transparent;
   text-decoration: none;
   text-align: center;
   display: flex;
   align-items: center;
}

a:hover {
   color:black;
   background-color: transparent;
   text-decoration: underline;
}

/* .startbtn {
   position: relative;
   margin-top: 0px;

} */

/* Progress Bar */

.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
   display: block;
   height: 100%;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   background-color: orange;
   background-image: linear-gradient(
     center bottom,
     rgb(43,194,83) 37%,
     rgb(84,240,84) 69%
   );
   box-shadow:
     inset 0 2px 9px  rgba(255,255,255,0.3),
     inset 0 -2px 6px rgba(0,0,0,0.4);
   position: relative;
   overflow: hidden;
 }
 .progress {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
  }
  .progress .circle,
  .progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
  }
  .progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  }
  .progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
  }
  .progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
  }
  
  /* Done / Active */
  .progress .bar.done,
  .progress .circle.done {
  background: #eee;
  }
 .progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%); */
  }
  .progress .circle.done .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progress .circle.done .title {
  color: #444;
  }
  /* .progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progress .circle.active .title {
  color: #0c95be; */
  }