 .body {
  background: linear-gradient(to bottom, #ff6600 44%, #ffffff 100%);
   font-family: 'Ubuntu', sans-serif;
 }

 /* Main Page */

 .bitd-logo {
   display: flex;
   justify-content: center;
 }

 .logo {
   width: 300px;
   height: 300px;
   margin: auto;
   padding-top: 30px;
 }

 .logo-container {
   display: flex;
 }

 .main-top-nav {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-top: 10px;
 }

 .logo-section {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding-top: 25px;
   padding-bottom: 25px;
 }

 .brew-logo {
   border: solid black;
   border-radius: 50%;
   height: 150px;
   width: 150px;
   background-color: rgb(189, 183, 183);
 }

 .brew-logo:hover {
   transform: scale(1.10) perspective(1px);
 }

 .checked-in {
   background: url(pictures/beer-tour-logos/beer.png);
 }

 .resp-iframe {
   border: 1px;
   width: 1000px;
   height: 500px;
   margin: auto;
 }

 .resp-container {
   display: flex;
 }

 .main-checkin {
   border: solid black;
   height: 15vh;
   margin-top: 35px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }

 img {
   width: 70%;
 }

 .material-icons.md-48 {
   font-size: 48px;
 }

 .brew-detroit {
   padding-top: 25px;
 }

 .detroit-beer {
   margin-top: -11px;
 }

 .eastern-market {
   margin-top: -5px;
 }

 .motor-city {
   padding-top: 40px;
 }

 .skyline {
   width: 100vw;
   height: 100vh;
   z-index: -1;
 }

 /* More Info Page */


 .info-page-border {
   border: solid black;
   height: 75vh;
   width: 90vw;
   display: flex;
   flex-direction: column;
   margin: auto;
   margin-top: 15%;
   padding: 10px;
   justify-content: space-around;
 }

 .info-brew-logo {
   border: solid black;
   border-radius: 100px;
   height: 150px;
   width: 150px;
 }

 .brew-name {
   width: 250px;
   padding-top: 32px; 
 }

 /* .info-checkin {
   border: solid black;
   height: 15vh;
   margin-top: 35px;
 } */

 .brew-info {
   border-top: solid black;
   border-bottom: solid black;
   margin-bottom: 25px;
 }

 .more-info-box {
   box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.3);
   background: linear-gradient(to bottom, #0000ff 44%, #0099ff 100%);
   width: 80vw;
   height: 80vh;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 10px;
   position: fixed;
   top: 20px;
   left: 10px;
   right: 0px;
   z-index: 10;
   max-height: calc(100vh - 210px);
   overflow-y: auto;
   color: white;
   opacity: .95;
 }

 /* Check try */

 .wlcm-enter {
   font-size: 18px;
 }

 .material-icons.md-18 {
   font-size: 18px;
 }

 /* About CSS */

 .about-brews {
   text-align: center;
   font-size: 30px;
 }

 .about-D {
   color: black;
   font-family: monotype;
 }

 .about-info {
   text-align: center;
   font-size: 20px;
 }

 .about-button, .info-checkin {
   text-align: center;
   display: flex;
   align-items: center;
   padding: 10px 32px;
   border-radius: 20px;
   margin: auto;
   font-size: 20px;
   background-color: lightgrey;
   color: black;
   border: 3px solid black;
 }

 a:visited {
   color:black;
   background-color: transparent;
   text-decoration: none;
 }

 a:link {
   color: blue;
   background-color: transparent;
   text-decoration: none;
   text-align: center;
   display: flex;
   align-items: center;
 }

 .about-button:hover, .info-checkin:hover {
   background-color: darkgrey;
   text-decoration: none;
 }

 .about-button:active, .info-checkin:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 /* Progress Bar */
.progress-div{
  display: flex;
  width: auto;
}

.progress {
  width: 80vw;
  margin: 20px auto;
  text-align: center;
}

.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}

.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: black;
  font-size: 17px;
}

.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */

.progress .bar.done,
.progress .circle.done {
  background: #eee;
}

.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
 
}

.progress .circle.done .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

#circle6.circle.done .label {
 color: #FFF;
 background: green;
 box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
 
}

#label6 {
 font-size: 11px;
}

#label6::placeholder {
 color: black;
}

.progress .circle.done .title {
  color: #444;
}
 .more-info-pics-container{
  display: flex;
  justify-content: center;
  padding-top: 0px;
}
 .more-info-pics{
   height: 300px;
   width: auto;
   /* height: 300px;
   margin-bottom: -50px;
   margin-top: -50px; */
   
 }

 .stretch {
   width: 95%;
 }

 /* spinner */

 .loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
 }
 @-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
 }
 @keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
 }
 @-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
 }
 @keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
 }

.closebtn{
display: flex;
justify-content: flex-end;
}

.s-info{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  
} 

.p-info{
  font-size: 30px;
}

span{
  display: inline-block;
}
  
.nogo{
  color: orange;
  font-size: 25px;
  padding-left: 30px;
}

