<!-- <div class = "body"> -->
<h1 class="bitd-logo">Brews In The D</h1>




<more-info place-id="$ctrl.current.id" ng-if="$ctrl.showQuickCheckin" on-checkin="$ctrl.onCheckin" class= "more-info-box"></more-info>

<section class="logo-section">

<button  ng-click="$ctrl.quickCheckin(brewery)" class="brew-logo" ng-class="{'checked-in': brewery.checkedIn}" ng-repeat="brewery in $ctrl.breweries" >
	<img src="{{brewery.src}}" />
</button>
<div>
<progress-bar completed="$ctrl.completed"></progress-bar>
</div>
</section>

<div class="resp-container">
  <iframe class="resp-iframe" src="https://www.google.com/maps/d/embed?mid=1iFiZxI8JBMKl2bbPVWvUNMicgM2YRafr"></iframe>
</div>
</div>

